body {
  margin: 0;
  font-family: Roboto; 
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
h1 {
  margin: 40px auto;
  text-align: center;
  color: #ff0aa7;
}
ul {
  padding: 0;
  list-style-type: none;
}
li {
  position: relative;
  margin: 10px auto;
  padding: 6px 10px;
  border: 1px solid #eee;
}
li h4 {
  max-width: 85%;
  margin: 0;
  color: #ff0aa7;
  text-transform: capitalize;
}
li p {
  max-width: 85%;
  margin: 8px 0 0;
  color: #333;
}
footer {
  margin-top: 60px;
  padding: 60px;
  background: #eee;
}
form {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
label {
  display: block;
  margin: 16px 0 6px;
  font-weight: bold;
  font-size: 0.8em;
  color: #333;
}
input, select {
  padding: 6px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
.field {
  display: inline-block;
  margin: 0 10px;
}
button {
  padding: 6px;
  min-width: 80px;
  border: 0;
  background: #ff0aa7;
  border-radius: 4px;
  color: white;
}
button.delete {
  position: absolute;
  top: 15px;
  right: 20px;
  background: #ff0aa7;
}
footer a {
  display: block;
  margin-top: 40px;
  text-align: center;
  font-size: 0.7em;
  color: #999;
}
.total { 
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  border-top: 3px solid #ff0aa7;
  margin: 20px auto;
  text-align: right;
  font-size: 1.3rem;
  font-weight: bold;
  color: #ff0aa7;
}
#total {
  margin-left: 15px;
}